#channel-list {background-color: rgba(0, 0, 0, 0.7)}
#memberBar {background-color: rgba(0, 0, 0, 0.7)}
#message-list {background-color: rgba(0, 0, 0, 0.6)}
#sendmsg {background-color: rgba(0, 0, 0, 0.6)}
#msgbox {background-color: rgba(0, 0, 0, 0.8)}
#guild-list {background-color: rgba(0, 0, 0, 0.8)}
#userSettings {background-color: rgba(0, 0, 0, 0.8)}
#serverName {background-color: rgba(0, 0, 0, 0.8);width: 260px}
.messageBlock:hover {background-color: rgba(10, 10, 10, 0.7)}
.embed {background-color: rgba(25, 25, 25, 0.8)}
.channel:hover {background-color: rgba(50, 50, 50, 0.4)}
.selectedChan {background-color: rgba(50, 50, 50, 0.4) !important}
.codeBlock {background-color: rgba(50, 50, 50, 0.7)}
.codeBlockEmbed {background-color: rgba(50, 50, 50, 0.7)}
.inlineCodeBlock {background-color: rgba(50, 50, 50, 0.7)}
.spoilerBlock {background-color: rgba(50, 50, 50, 0.7)}
.spoilerBlock:hover {background-color: rgba(50, 50, 50, 0.8)}
.spoilerBlock.discovered {background-color: rgba(50, 50, 50, 0.8)}
.spoilerBlock.discovered:hover {background-color: rgba(50, 50, 50, 0.9)}
.ping {background-color: rgba(25, 25, 25, 0.3); color: white}
.ping:hover {background-color: rgba(25, 25, 25, 0.4); color: white}
